{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}

{% include 'navbar.html' %}

<div class="center-block container">
    <div class="row">
        {% for element in proxies %}
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div style="height: 270px; overflow-y: auto;" class="product-item panel panel-default">
                <div class="panel-heading">
                    <a href="{% url 'store:detailed_product' element.id %}" class="panel-title link" style="cursor: pointer"><strong>{{ element.name }}</strong></a>
                </div>
                <div class="panel-body">
                    <p>{{ element.description }}</p>
                    <p><i>Status</i>: {{ element.status }}</p>
                    <p><i>In stock</i>: {{ element.in_stock }}</p>
                    <p><i>Customer</i>: {{ element.customer }}</p>
                    <p><i>Price</i>: {{ element.price }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script src=
"https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity=
"sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous">
    </script>

{% else %}
<div class="index-form rounded-box">
    <h1 style="color: #333; margin-bottom: 20px">Proxy Store</h1>
    <a style="width: 240px; height: 50px" class="btn btn-default btn-index-form" href="{% url 'login' %}">Log In</a>
    <a style="width: 240px; height: 50px" class="btn btn-default btn-index-form" href="{% url 'store:signup' %}">Register</a>
</div>
{% endif %}
{% endblock %}