{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><p class="navbar-text">Hello, {{ user.username }}</p></li>

                <li><p class="navbar-text">Your balance: {{ user.balance }}$</p></li>
            </ul>

            <form class="navbar-form navbar-right" action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Log Out</button>
            </form>
        </div>
    </div>
</nav>

<div class="center-block">
    <ul>
        {% for element in proxies %}
        <li style="max-width: 350px" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>{{ element.name }}</strong></h3>
            </div>
            <div class="panel-body">
                <p>{{ element.description }}</p>
                <p><i>Status</i>: {{ element.status }}</p>
                <p><i>In stock</i>: {{ element.in_stock }}</p>
                <p><i>Customer</i>: {{ element.customer }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

{% else %}
<div class="index-form">
    <a class="btn btn-default btn-index-form" href="{% url 'login' %}">Log In</a>
    <a class="btn btn-default btn-index-form" href="{% url 'store:signup' %}">Register</a>
</div>
{% endif %}
{% endblock %}